body{
    background-image: linear-gradient(yellow, white);
}

table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
 }
 .col{
     height: 40vh;
 }
 th{
    text-align: center;
    color: blue;
   
 }
 #header{
     text-align: center;
     font-weight: bold;
     font-size: 25px;
     text-shadow: 2px grey;
     animation: shake;
 }
 
 #move{
    display:block; 
    margin:auto;
    animation: shake 2s linear infinite;
    
 }
 #move:hover{
    background-color: blue;
 }
 #buffer{
     margin: 20px;
 }
 @keyframes shake {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-5deg);
    }
    20% {
      transform: rotateZ(5deg);
    }
    25% {
      transform: rotateZ(-5deg);
    }
    30% {
      transform: rotateZ(3deg);
    }
    35% {
      transform: rotateZ(-2deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }